@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
	--White: hsl(0, 0%, 100%);
	--Light-gray: hsl(212, 45%, 89%);
	--Grayish-blue: hsl(220, 15%, 55%);
	--Dark-blue: hsl(218, 44%, 22%);
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	height: 100vh;
	background-color: #f2f2f2;
	display: flex;
	align-items: center;
}

.container {
	margin: 0 auto;
	max-width: 375px;
}

.card {
	margin: 0 1em;
	padding: 16px;
	min-width: 320px;
	background-color: #fff;
	border-radius: 20px;
	margin-bottom: 48px;
}

.qr {
	display: block;
	max-width: 100%;
	border-radius: 10px;
	object-fit: cover;
	margin-bottom: 24px;
}

.text {
	font-family: Outfit, sans-serif;
	text-align: center;
	padding: 0 16px;
}

.text .title {
	font-weight: 700;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0.025rem;
	color: var(--Dark-blue);
	margin-bottom: 16px;
}

.text .description {
	padding: 0 16px;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	color: var(--Grayish-blue);
	letter-spacing: 0.1875px;
	margin-bottom: 24px;
}

.attribution {
	font-family: Outfit;
	margin: auto;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
